<header class="site-header">
    <nav>
        <div class="nav-left">
            <a href="{{ .Site.Home.Permalink | relURL }}" class="site-title {{ if .IsHome }}active{{ end }}">{{ .Site.Title }}</a>
            <ul class="nav-main">
                {{ $current := . }}
                {{ range .Site.Menus.main }}
                    {{ $menuURL := relLangURL .URL }}
                    {{ $isExact := eq $menuURL $current.RelPermalink }}
                    {{ $isMenu := or ($current.IsMenuCurrent "main" .) ($current.HasMenuCurrent "main" .) }}
                    {{ $isPrefix := hasPrefix $current.RelPermalink $menuURL }}
                    {{ $isCurrent := or $isExact (or $isMenu $isPrefix) }}
                    <li><a href="{{ $menuURL }}" class="{{ if $isCurrent }}active{{ end }}">{{ .Name }}</a></li>
                {{ end }}
            </ul>
        </div>
    </nav>
</header>
